* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: url(/app/assets/img/bg.jpg) no-repeat 50% 0;
}

// body,html{
// 	min-height: 100vh;
// }

a, a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}